<div class="container">
  <div class="row">
    <div class="panel col-md-12 col-md-12">
      <p>
        <strong>Campaign:</strong>
        <%= @campaign.name %>
      </p>

      <p>
        <strong>Client:</strong>
        <%= @campaign.client_name %>
      </p>

      <p>
        <strong>Completion Status:</strong>
        <%= @campaign.completion_status %>
      </p>

      <%= link_to 'Edit', edit_campaign_path(@campaign) %> |
      <%= link_to 'Back', campaigns_path %>
    </div>
  </div>

</div>
