<div class="container">
  <div class="row">
    <div class="panel col-md-12 col-md-12">
      <p>
        <strong>Campaign:</strong>
        <%= link_to @email.campaign_name, campaign_path(@email.campaign) %>
      </p>

      <p>
        <strong>Name:</strong>
        <%= @email.name %>
      </p>

      <p>
        <strong>Subject:</strong>
        <%= @email.subject %>
      </p>

      <p>
        <strong>Hosted HTML:</strong>
        <%= @email.hosted_html %>
      </p>

      <%= link_to 'Edit', edit_email_path(@email) %> |
      <%= link_to 'Back', emails_path %>
    </div>
  </div>

</div>