<%= simple_form_for(@recipient_list) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :list %>
    <%= f.input :references %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
