<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipient_list.name %>
</p>

<p>
  <strong>List:</strong>
  <%= @recipient_list.list %>
</p>

<p>
  <strong>References:</strong>
  <%= @recipient_list.references %>
</p>

<%= link_to 'Edit', edit_recipient_list_path(@recipient_list) %> |
<%= link_to 'Back', recipient_lists_path %>
