<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
    </a>
    <a href="#" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">

        <% if user_signed_in? %>
          <li class="nav-link"><%= link_to "Campaigns", campaigns_path %></li>
          <li class="nav-link">
            <%= link_to "Recipient Lists", recipient_lists_path %>
          </li>
        <% end %>

        <li class="nav-link"><a href="#">About Us</a></li>
        <li class="nav-link"><a href="#">Contact</a></li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>

      <% if user_signed_in? %>
        <%= link_to(destroy_user_session_path, method: :delete, class: "sign-up") do %>
          <i class="fa fa-sign-out"></i>
          Log Out
        <% end %>

        <%= link_to(edit_user_registration_path, class: "logo") do %>
          <%= image_tag(current_user.gravatar_small, class: "img-circle") %>
          <span>
            <%= current_user.full_name %>
          </span>
        <% end %>

      <% else %>
        <%= link_to(new_user_session_path, class: "sign-up") do %>
          <i class="fa fa-sign-in"></i>
          Sign In
        <% end %>

        <%= link_to(new_user_registration_path, class: "sign-up") do %>
          <i class="fa fa-sign-in"></i>
          Sign Up
        <% end %>
      <% end %>
    </div>
  </div>

</header>
